services:
  mediasoup-app:
    build: .
    ports:
      - "5001:5001"
      - "4000:4000"
      - "40000-40050:40000-40050/udp"
    volumes:
      - ./src:/server/src
      - ./prisma:/server/prisma
      - ./.env:/server/.env
    networks:
      - monitor-net

  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"
    restart: unless-stopped
    networks:
      - monitor-net
    volumes:
      - pushgateway-data:/data
    command:
      - "--persistence.file=/data/metrics"
      - "--persistence.interval=1m"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - monitor-net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    networks:
      - monitor-net
    volumes:
      - grafana-data:/var/lib/grafana

networks:
  monitor-net:
    driver: bridge

volumes:
  prometheus_data:
  grafana-data:
  pushgateway-data:
